@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__title {
  width: calc(var(--page-width)/2);
  margin: 0 auto;
  text-align: center;
  max-width: 100vw;
}

.collection-show_more {
  margin-top: 3rem;
}

.collection-show_more .button {
  background: #e83f53;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 30px;
  font-family: "Poppins-Medium";
}

.collection-show_more .button:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 8px #00000042;
  transform: scale(1.05);
} 

.collection-show_more .disabled.button:hover {
  transform: none;
  box-shadow: none;
}

.collection-show_more .button:before,
.collection-show_more .button:after {
  box-shadow: none !important;
}

.featured-collection .pagination-wrapper {
  display: none;
}